<!DOCTYPE html>
<html>
<head>
  <title>Text2Phone</title>
  <%= stylesheet_link_tag  "style" %>
  <%= javascript_include_tag "application", "clipboard" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<br>
<hr>
Copyright Conor Starrs, 2011.
</body>
</html>
